body {
    background-color: #0B3D4D;
    color: #EAEAEA;
}
section {
    background-color: #1A5865;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.block-gauche {
    width: 15%;
}

h1 {
    font-family: 'Open Sans Condensed Bold', sans-serif;
    font-weight: bold;
    font-size: 4rem;
    color: #EAEAEA;
    text-align: left;
    writing-mode: vertical-rl;
    text-orientation: upright;
    
}
.block-centre {
    width: 60%;
    margin: 0 10px;
}
ul {color: white;
    text-align: center;

}
.no-bullets {
    list-style-type: none;
    padding-left: 0;
}
.block-droite {
    width: 40%;
    text-align: right;
    position: relative;
    transition: transform 1s ease-in-out; 
}
.block-droite.active {
    transform: translateX(-500px);
    z-index: 10;
}

.album-wrapper {
    width: 400px;
    height: 400px;

    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin-left: auto;
    z-index: 1;
    
}
.pochette,
.vinyle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.6s ease-out;
}
.pochette img,
.vinyle img {
    
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
.vinyle {
    z-index: 1;
    transform: translateX(-100%);
    transition: transform 0.6s ease-out;
   
}
.pochette {
    z-index: 2;
}
.album-wrapper.ouvert .vinyle {
    transform: translateX(0px);
}
h2 {
    font-family: 'Open Sans Condensed Bold', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    color: #EAEAEA;
    text-align: center;
}
p {
    color: white;
    text-align: center ;
}

#maVideo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

#maVideo.visible {
    opacity: 1;
}

.video-wrapper {
    text-align: center;
}